<!DOCTYPE html>
<html>
    <head>
        <% include ../public/partials/head %>
    </head>
    
    <body>
        <div class="container">
            <% include ../public/partials/header %>
            <h3><%= polldata.pollname %></h3>
            <form id="pollList" action="/poll-choice" method="post" onsubmit="return validateForm()">
                <input type="hidden" name="pollId" value="<%= polldata._id %>">
                <% for(var i=0; i<polldata.pollOptions.length; i++){ %>
                    <div class="form-group">
                        <label for="radio<%= i %>"><%= polldata.pollOptions[i];%>:</label>
                        <input type="radio" name="polloption" id="radio<%= i %>" value="<%= i %>">
                    </div>
                <% } %>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        
        <% include ../public/partials/footer %>
        
        <script type="text/javascript" src="/controllers/httpRequest.client.js"></script>
        <script type="text/javascript" src="/controllers/getParameters.client.js"></script>
        <script type="text/javascript" src="/controllers/pollChoiceController.client.js"></script>
    </body>
</html>